@charset "UTF-8";

body{
	margin: 0;
	padding: 0;
}

.body_section{
	display: flex;
	position: relative;
}

.switch_button{
	position: absolute;
	top: 30px;
	left: 400px;
	width: 300px;
	height: 50px;
	display: flex;
}

.button1{
	padding-top: 10px;
	width: 148px;
	height: 40px;
	text-align: center;
	background-color: #e2f0fe;
	font-size: 20px;
	font-weight: bold;
	border-top: 1px solid #b1b8c0;
	border-left: 1px solid #b1b8c0;
	border-right: 1px solid #b1b8c0;	
	z-index: 2;
}

.button1:hover{
	cursor: pointer;
}

.button2{
	padding-top: 10px;
	width: 148px;
	height: 40px;
	text-align: center;
	background-color: #e2f0fe;
	font-size: 20px;
	font-weight: bold;
	z-index: 2;
}

.button2:hover{
	cursor: pointer;
}

.content_wrap1{
	position: absolute;
	top: 80px;
	left: 350px;
	width: 1520px;
	height: 600px;
	background-color: #e2f0fe;
	z-index: 1;
	border: 1px solid #b1b8c0;
	display: flex;
}

.content1_1_wrap{
	margin-top: 50px;
	margin-left: 24px;
	width: 350px;
	height: 500px;
	background-color: #f9fafb;
}

.title1_1{
	margin-top: 10px;
	width: 350px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}

.top5_1_1{
	margin-top: 10px;
	padding-top: 15px;
	width: 350px;
	height: 45px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: white;
	background-color: #1e90ff;
}

.rank1_1{
	margin-top: 20px;
	padding-left: 20px;
	width: 330px;
	height: 55px;
	border-bottom: 1px solid #b1b8c0;
	font-size: 40px;
	font-weight: bold;
	display: flex;
}

.rank1_1_name{
	margin-left: 10px;
	font-size: 40px;
	font-weight: bold;
	transform: translateY(-9px);
}

.rank1_1_cnt{
	margin-left: 60px;
	font-size: 40px;
	font-weight: bold;
	transform: translateY(-9px);
}
.content1_2_wrap{
	margin-top: 50px;
	margin-left: 24px;
	width: 350px;
	height: 500px;
	background-color: #f9fafb;
}

.top5_1_2{
	margin-top: 10px;
	padding-top: 15px;
	width: 350px;
	height: 45px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color: white;
	background-color: #ff8d1e;
}

.content1_3_wrap{
	margin-top: 50px;
	margin-left: 24px;
	width: 350px;
	height: 500px;
	background-color: #f9fafb;
	position: relative;
}

.chart1_title{
	margin-top: 10px;
	width: 350px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}

#Chart1{
	margin-top: 50px;
	width: 300px;
	height: 300px;
}

.chart1_time{
	position: absolute;
	top: 240px;
	left: 135px;
	font-size: 40px;
	font-weight: bold;
	color: #1e90ff;
	text-align: center;
}

.content1_4_wrap{
	margin-top: 50px;
	margin-left: 24px;
	width: 350px;
	height: 500px;
	background-color: #f9fafb;
	position: relative;
}

.chart2_title{
	margin-top: 10px;
	width: 350px;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
}

#Chart2{
	margin-top: 50px;
	width: 300px;
	height: 300px;
}

.chart2_distance{
	position: absolute;
	top: 240px;
	left: 110px;
	font-size: 40px;
	font-weight: bold;
	color: #1e90ff;
	text-align: center;
}

.content_wrap2{
	position: absolute;
	top: 80px;
	left: 350px;
	width: 1520px;
	height: 600px;
	background-color: #f9fafb;
	z-index: 1;
	border-top: 1px solid #b1b8c0;
	display: flex;
	display: none;
}