@charset "UTF-8";

body{
	margin: 0;
	padding: 0;
}

.side_right_wrap{
	width: 299px;
	height: 717px;
	border-left: 1px solid black;
	background-color: #b1b8c0;
}

.wrap1{
	width: 299px;
	height: 655px;
	border-bottom: 1px solid black;
	background-color: #f9fafb;
	overflow: hidden;
}

.side_right_title{
	padding-top: 10px;
	width: 299px;
	height: 45px;
	border-bottom: 1px solid black;
	background-color: #e2f0fe;
	font-weight: bold;
	font-size: 25px;
	text-align: center;
}

.wrap2{
	overflow: auto;
	overflow-x: hidden;
	height: calc(100% - 45px);
	text-align: center;
}

.traffic_content{
	margin-top: 10px;
	width: 280px;
    height: 180px;
	border-bottom: 1px solid #b1b8c0;
    float: left;
}

.content_title{
	font-size: 20px;
	font-weight: bold;
}

.content_content{
	clear: both;
	margin-top: 15px;
	font-size: 13px;
    overflow: hidden;
    display: -webkit-box;
    word-wrap: break-word;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    line-height: 20px;
    height: 63px;
}

.time_1{
	margin-top: 10px;
	font-size: 15px;
}

.time_2{
	margin-top: 10px;
	font-size: 15px;
}